Write a program to demonstrate working with tuples in python.

In [21]:
#Tuples are written with round brackets.
thistuple = ("audi", "tata", "tesla", "kia")
print(thistuple)

#Tuples allow duplicate values:
thistuple = ("audi", "tata", "tesla", "kia","tesla", "kia")
print(thistuple)

#Tuple Length
thistuple = tuple(("audi", "tata", "tesla", "kia"))
print(len(thistuple))

#Create Tuple With One Item
thistuple = ("tesla",)
print(type(thistuple))

#NOT a tuple
thistuple = ("tesla")
print(type(thistuple))

#Tuple Items - Data Types

tuple1 = ("audi", "tata", "tesla", "kia")
tuple2 = (6, 5, 7, 2, 4)
tuple3 = (True, False, False)


print(tuple1)
print(tuple2)
print(tuple3)

#A tuple with strings, integers and boolean values:
tuple1 = ("jpm", 20, True, 40, "male")

print(tuple1)

 #tuples are defined as objects with the data type 'tuple'
mytuple = ("audi", "tata", "tesla",)

print(type(mytuple))

('audi', 'tata', 'tesla', 'kia')
('audi', 'tata', 'tesla', 'kia', 'tesla', 'kia')
4
<class 'tuple'>
<class 'str'>
('audi', 'tata', 'tesla', 'kia')
(6, 5, 7, 2, 4)
(True, False, False)
('jpm', 20, True, 40, 'male')
<class 'tuple'>